@(title: String)(content: Html)
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">
    <link rel="icon" href="@routes.Assets.at("images/favicon.ico")">
</head>

<body>
<meta charset="utf-8">
<!--<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">-->

<meta name="viewport" content="width=1024">

<meta property="og:title" content="Fractal Scope" />
<meta property="og:image" content="" />
<meta property="og:description" content="Fractal Scope is a desktop web application for creating and exploring the mysterious world of fractals. Select the fractal type, colors, and size, then zoom in to find beautiful repeating structures. Great for kids and adults !" />

<link href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))' rel='stylesheet'>

<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type='text/javascript'></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src='@routes.Assets.at("fractal.js")'></script>

<div id="fb-root"></div>
<script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '929697287112327',
              xfbml      : true,
              version    : 'v2.5'
            });
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));


        </script>



<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Fractal Scope</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li id="">
                    <a href="#"></a>
                </li>
                <!--<li class="dropdown" id="fractal-change">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Fractal<span class="caret"></span></a>
                    <ul class="dropdown-menu" id="fractal-change-menu"></ul>

                <li id="fractal-name">
                    <span class="label label-info">Name</span>
                </li></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="test">
                    <a id="about-icon" href="#"><span class="glyphicon glyphicon-info-sign"></span></a>
                </li>
            </ul>


        </div>
    </div>
</nav>
<div class="container">

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3 ">
                <div class="form-group">
                    <p class="text-info">Fractals</p>
                    <table width="100%">
                        <tbody>
                        <tr>
                            <td>
                                <select class="form-control" name="fractal-select" id="fractal-select"></select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 ">
                <div class="form-group">
                    <p class="text-info">Zoom Level</p>
                    <table width="100%">
                        <tbody>
                        <tr>
                            <td>
                                <div class="input-group ">
                                                <span id="minus-button" class="btn btn-default input-group-addon btn-number" data-type="minus" data-field="zoomData" disabled="true">
                                                    <span class="glyphicon glyphicon-zoom-out"></span>
                                                </span>
                                    <input id="zoomData" style="text-align:center;" buttons=false type="number" pattern="[0-9]*" class="form-control input-number" value="0" min="0" max="99"  disabled="true">
                                                <span id="plus-button" class="btn btn-default input-group-addon btn-number" data-type="plus" data-field="zoomData">
                                                    <span class="glyphicon glyphicon-zoom-in"></span>
                                                </span>
                                                <span class = "input-group-btn">
                                                    <button id="reset-button2" class = "btn btn-default" type = "button">Reset</button>
                                                </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 ">
                <div class="form-group">
                    <p class="text-info">Colors</p>
                    <table width="100%">
                        <tbody>
                        <tr>
                            <td>
                                <select class="form-control" name="color-select" id="color-select"></select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 ">
                <div class="form-group">
                    <p class="text-info">Size (pixels)</p>
                    <table width="100%">
                        <tbody>
                        <tr>
                            <td>
                                <select class="form-control" name="size-select" id="size-select">
                                    <option value="512">512 x 512</option>
                                    <option value="1024">1024 x 1024 (slower)</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-12" style="height:10px;"></div><!--top margin -->
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default" id="julia-picker">
                    <div class="panel-heading">
                        Julia Selector (left) and Preview (right) - Click near fractal edge for different sets
                        <div style="float: right;" id="julia-fractal-loading" class="label label-success">Computing</div>
                    </div>
                    <div class="panel-body">
                        <center>
                        <img alt="" class="img-thumbnail" width="256" height="256" id="julia-picker-image" src="" style="cursor:crosshair" >
                        <img alt="" class="img-thumbnail" width="256" height="256" id="julia-preview-image" src=""  >
                        </center>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel panel-default" id="fractal-panel">
                    <div class="panel-heading">
                        Fractal Viewer - Click to Zoom
                        <div style="float: right;" id="fractal-loading" class="label label-success">Computing</div>
                    </div>
                    <div class="panel-body">
                        <center>
                            <div><img alt="" class="img-circle"  width="512" height="512" id="fractal-image" src="" style="cursor:crosshair"></div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="panel panel-default" >
            <div class="row" style="margin-bottom:3pt;">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <!-- Start of FB Code -->
                    <div class=" fb-like" data-action="like" data-href="http://fractalscope.herokuapp.com"
                         data-layout="button_count" data-share="true" data-show-faces="true">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
                    <script type="IN/Share" data-url="http://fractalscope.herokuapp.com" data-counter="right"></script>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div>
                        <script src="https://apis.google.com/js/platform.js" async defer data-href="http://fractalscope.herokuapp.com"></script>
                        <g:plus action="share"></g:plus>
                    </div>
                </div>
            </div>

            <p></p>
            <!-- Start of SimpleHitCounter Code -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <img alt="web counter" border="0" height="18" src="http://simplehitcounter.com/hit.php?uid=1991956&f=16777215&b=0" width="83">
                    visits
                </div>
            </div>
        </div>
    </div>
</div>

<!-- set up the modal to start hidden and fade in and out -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- dialog body -->
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                Fractal Scope<br>
                Version: BETA<br>
                Author: Bob Sheehan<br><br>
                <!-- Start of FB Code -->
                <div class=" fb-like" data-action="like" data-href="http://fractalscope.herokuapp.com"
                     data-layout="button_count" data-share="true" data-show-faces="true">
                </div>
            </div>

            <!-- dialog buttons -->
            <div class="modal-footer">
                <button type="button" id="ok-button" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
