@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src='@routes.Assets.at("fractal.js")'></script>
    </head>

    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Fractal Scope</a>
            </div>
            <div>
                  <ul class="nav navbar-nav">
                      <li id=""><a href="#"> </a></li>
                      <li id="fractal-change" class="dropdown">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select <span class="caret"></span></a>
                          <ul id="fractal-change-menu" class="dropdown-menu"></ul>
                      </li>
                      <li id="fractal-name"><a href="#"><span class="label label-info">Name</span></a></li>
                      <li id="fractal-loading"><a href="#"><span class="label label-success">Computing</span></a></li>
                  </ul>
            </div>
        </div>
    </nav>

    <div class="container">
                <div class="panel panel-default" >
                    <div class="col-lg-6" style="height:10px;"></div> <!--top margin -->
                    <div class="row">
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div>
                                <IMG SRC="" ALT="" id="fractal-image" WIDTH=600 HEIGHT=600 class="img-circle" style="cursor:crosshair">
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div id="julia-picker" class="panel panel-default" >
                                <div class="panel-heading">Julia Picker (click fractal boundary)</div>
                                <div class="panel-body">
                                    <center>
                                        <div>
                                            <IMG SRC="" ALT="" id="julia-picker-image" WIDTH=200 HEIGHT=200  style="cursor:crosshair">
                                        </div>
                                    </center>
                                </div>
                            </div>
                            <div class="panel panel-default" >
                                <div class="panel-heading">Zoom (click image)</div>
                                <div class="panel-body">
                                    <center>
                                    <div class="btn-group-vertical" role="group" aria-label="...">
                                        <button id="zoom-in-button" type="button" class="btn btn-default" style="font-size:18px;">+</button>
                                        <button id="zoom-out-button" type="button" class="btn btn-default" style="font-size:18px;">-</button>
                                        <button id="reset-button" type="button" class="btn btn-default">Reset</button>
                                        <h4><span id="zoom-badge" class="badge badge-default">0</span></h4>
                                    </div>
                                    </center>
                                </div>
                            </div>
                            <div class="panel panel-default" >
                                <div class="panel-heading">Colors</div>
                                <div class="panel-body">
                                    <center>
                                        <div id="color-buttons" class="btn-group-vertical" role="group" aria-label="...">
                                        </div>
                                    </center>
                                 </div>
                            </div>
                         </div>
                    </div>
                </div>
            </div>

        <!-- Start of SimpleHitCounter Code -->
        <div align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=1986385&f=0&b=16777215" border="0" height="18" width="83" alt="web counter"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;">visits</a></div>
        <!-- End of SimpleHitCounter Code -->

    </body>
</html>
